
@{
    ViewData["Title"] = "Kläder";
}

<h1 style="text-align:center;">Kläder</h1>

<br />
<br />

@*Första raden med produkter*@
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="/images/3ptshirt.png" class="card-img-top" alt="T-shirt">
                <div class="card-body">
                    <h5 class="card-title">Adidas</h5>
                    <p class="card-text">3p t-shirts</p>
                    <h6 class="card-title">449 SEK</h6>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="/images/jeansrea.png" class="card-img-top" alt="Jeans Sale">
                <div class="card-body">
                    <h5 class="card-title">Dolce & Gabbana</h5>
                    <p class="card-text">Lyxiga jeans för Herr</p>
                    <h6 class="card-title"><del>3199 SEK</del> 2499 SEK</h6>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="/images/jeansforgirl.png" class="card-img-top" alt="Jeans Girl">
                <div class="card-body">
                    <h5 class="card-title">Panda</h5>
                    <p class="card-text">Jeans för Dam</p>
                    <h6 class="card-title">699 SEK</h6>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="/images/whitetshirt.png" class="card-img-top" alt="White T-shirt">
                <div class="card-body">
                    <h5 class="card-title">Nike</h5>
                    <p class="card-text">Vit t-shirt för Herr</p>
                    <h6 class="card-title">249 SEK</h6>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="/images/womendress.png" class="card-img-top" alt="Women Dress">
                <div class="card-body">
                    <h5 class="card-title">Mystery Brand</h5>
                    <p class="card-text">Klänning</p>
                    <h6 class="card-title">179 SEK</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

@*Andra raden med produkter*@
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="/images/strumpor.png" class="card-img-top" alt="Socks">
                <div class="card-body">
                    <h5 class="card-title">Happy Socks</h5>
                    <p class="card-text">Ett par strumpor</p>
                    <h6 class="card-title">29 SEK</h6>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="/images/grayblazer.png" class="card-img-top" alt="Blazer">
                <div class="card-body">
                    <h5 class="card-title">Tiger of Sweden</h5>
                    <p class="card-text">Lyxig kavaj för Herr</p>
                    <h6 class="card-title"><del>2499 SEK</del> 1199 SEK</h6>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="/images/suit.png" class="card-img-top" alt="Suit">
                <div class="card-body">
                    <h5 class="card-title">Suit Company</h5>
                    <p class="card-text">Kostym för Herr<p>
                    <h6 class="card-title">5499 SEK</h6>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="/images/jeansjacket.png" class="card-img-top" alt="Denim Jacket">
                <div class="card-body">
                    <h5 class="card-title">Denim .CO</h5>
                    <p class="card-text">Jeansjacka för Dam</p>
                    <h6 class="card-title">799 SEK</h6>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="/images/tracksuit.png" class="card-img-top" alt="Tracksuit">
                <div class="card-body">
                    <h5 class="card-title">The Tracksuits</h5>
                    <p class="card-text">Tracksuit / Herr&Dam</p>
                    <h6 class="card-title">399 SEK</h6>
                </div>
            </div>
        </div>
    </div>
</div>



