@{
    ViewData["Title"] = "About";
}

<header>
    <a href="länk-till-bild-3" style="color: black;">
        <h1 style="text-align:center">PandaStore</h1>
    </a>
</header>

<div class="aboutinfo" style="text-align:center">
    <h4>
        Välkommen till PandaStore!
    </h4>
    <h4>
        En framstående e-handelsaktör inom mode, heminredning och skönhet i Norden. Vi är stolta över vårt välkända varumärke och servar en imponerande
        kundbas på över 2 miljoner aktiva kunder. Genom att upprätthålla nära relationer med våra kunder, strävar vi ständigt efter att utveckla och erbjuda
        attraktiva erbjudanden som passar den moderna människan och dennes familj. Utforska vårt sortiment på pandastore.com, där du hittar över 500 välrenommerade varumärken.
    </h4>
    <br />
    <h4>
        PandaStore är den ledande e-handelsplattformen inom PandaStore Group. För ytterligare information om PandaStore Group, välkomnar vi dig att besöka vår hemsida.
        Här kan du lära dig mer om vår spännande historia, vårt engagemang för hållbarhet och vår vision för framtiden. Ta en titt på våra lediga
        jobb och bli en del av vårt dynamiska team. Huvudkontoret för PandaStore är beläget i en pulserande stad (Hemligt), där företaget grundades år 2025 och har blomstrat sedan dess.
    </h4>
    <br />
    <br />
    <div class="pandaInfo">
        <p><b>Välkommen till vår Panda Räddningsorganisation!</b></p>
        <p>
            Vi är en ideell organisation dedikerad till att rädda och skydda dessa underbara och hotade varelser - pandor. Varje gång du stödjer oss genom att köpa våra produkter
            eller delta i våra evenemang, går hela vinsten direkt till att rädda och vårda pandor över hela världen.
        </p>
        <p>
            Pandor är ett av naturens mest ikoniska djur och spelar en viktig roll för att upprätthålla den biologiska mångfalden i sina livsmiljöer. Tyvärr hotas de av förlust av naturliga livsmiljöer, illegal handel och klimatförändringar
            . Genom att stödja vår organisation hjälper du till att säkerställa att pandor har en framtid.
        </p>
        <p>
            Vi arbetar aktivt för att skydda och bevara pandor genom olika insatser. Dina bidrag möjliggör bland annat:
        </p>
        <p>
            1. Skydd av naturliga livsmiljöer: Vi investerar i skogsbevarande och habitatrestaurering för att säkerställa att pandor har tillräckligt med skyddade områden att leva och föröka sig i.
        </p>
        <p>
            2.Forskning och övervakning: Vi stödjer forskningsprojekt för att övervaka pandapopulationer, studera deras beteende och bidra till vetenskaplig kunskap
            för att förbättra deras skydd.
        </p>
        <p>
            3. Räddningsinsatser och rehabilitering: Vi samarbetar med räddningscentra för att rädda och vårda skadade eller föräldralösa pandor, med målet att återintegrera dem i det vilda.
        </p>
        <p>
            4. Utbildning och medvetenhet: Vi driver utbildningsprogram för att öka medvetenheten om pandors betydelse och behovet av deras skydd.
            Genom att sprida kunskap och engagera samhället kan vi göra en långsiktig positiv förändring.
        </p>
        <p>
            Vi är djupt tacksamma för ditt stöd. Varje köp du gör hos oss och varje donation du bidrar med hjälper oss att rädda och bevara pandor för framtida generationer att uppleva och njuta av.
            Tillsammans kan vi göra skillnad och säkerställa en ljusare framtid för våra älskade pandor.
        </p>
    </div>
</div>

<p>
    <img src="/images/pandasocial.png" />
</p>

