
<div>
    <h4>Inloggad som admin</h4>
    <hr />
    <h2>Välkommen!</h2>
    <p>
         <a asp-area="" asp-controller="Product" asp-action="Index">Produkter</a>
         <a asp-area="" asp-controller="Campaign" asp-action="Index">Kampanjer</a>
    </p>
</div>