
<div class="main-content">
    <h6>Inloggad som admin</h6>
    <hr />
    <h2>Välkommen till adminsidorna!</h2>

    <p>Här kan du hittar du alla funktioner för att sköta webbshoppen, allt i från lägga till produkter och kampanjer eller editera produkter.</p>

    <div class="card-content" img="">
        
        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <a class="admin-card" asp-area="" asp-controller="Product" asp-action="Index">Gå till Produkter</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Produkter</h5>
                <p class="card-text">Här lägger du till, raderar eller editerar produkter i webbshoppen.</p>
            </div>
        </div>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <a class="admin-card" asp-area="" asp-controller="Campaign" asp-action="Index">Gå till Kampanjer</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Kampanjer</h5>
                <p class="card-text">Här lägger du till, raderar eller editerar kampanjer i webbshoppen.</p>
            </div>
        </div>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <a class="admin-card" asp-area="" asp-controller="" asp-action="">Lägg till admin</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Admins</h5>
                <p class="card-text">Här lägger du till, raderar admins.</p>
            </div>
        </div>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <a class="admin-card" asp-area="" asp-controller="" asp-action="">Sök Ordrar</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Ordrar</h5>
                <p class="card-text">Här söker du ordar via datum</p>
            </div>
        </div>
    </div>
</div>