@model IEnumerable<PandaStore.Models.OrderDetail>

@{
    ViewData["Title"] = "SearchOrder";
}

<h3>Sök efter Ordrar via Email, Namn & Telefonnummer</h3>

<form asp-action="getOrders">
    <div class="input-group">
        <div class="form-outline">
            <label class="form-label" for="id">Vid tomt fält visas alla resultat</label>
            <input type="text" name="search" id="id" class="form-control" placeholder="Sök kund" />  
            <button type="submit" class="btn btn-primary">Sök</button>
        </div>     
    </div>
</form>
@if(Model != null)
{
<div>
    @await Html.PartialAsync("getOrders.cshtml", Model)
</div>
}