html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
    .image-wrapper {
        flex: 1 1 100%;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.shoppingCartIconCount {
    position: absolute;
    top: 5px;
    right: -5px;
    padding: 3px 6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    transform: scale(0.8);
}
.shoppingCartIcon {
    transform: scale(2);
    margin-left: 20px;  
}


/*Hovereffekt på kampanjbilderna*/
.image-wrapper img {
    transition: transform 0.2s ease;
}

.image-wrapper:hover img {
    transform: scale(1.1);
}

.main-content {
    background-image: url(../images/Admin/cyber-monday-retail-sales.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group {
    padding-bottom: 10px;
}



