html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .image-wrapper {
        flex: 1 1 100%;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.shoppingCartIcon {
    position: relative;
    
}

.shoppingCartIcon .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 12px;
}


/*Hovereffekt på kampanjbilderna*/
.image-wrapper img {
    transition: transform 0.2s ease;
}

.image-wrapper:hover img {
    transform: scale(1.1);
}
.main-content {
    background-image: url(../images/Admin/cyber-monday-retail-sales.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group {
    padding-bottom: 10px;
}

/*.card-title {
    font-size: 12px;
}*/

/*Hovereffekt på klädessidan*/
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.1);
}

/*OffcanvasMenu*/
.offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 250px;
    background-color: #f1f1f1;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.offcanvas.show {
    transform: translateX(0);
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offcanvas-title {
    margin-bottom: 0;
}

.offcanvas-body {
    padding-top: 1rem;
}

.navbar-offcanvas {
    order: -1;
}

.nav-item {
    margin-bottom: 10px;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.offcanvas-body .nav-item .nav-link {
    transition: transform 0.2s;
}

.offcanvas-body .nav-item:hover .nav-link {
    transform: scale(1.1);
}

.navbar-offcanvas {
    border: none;
    background-color: transparent;
    outline: none;
}

.amountOfProducts{
    border-radius: 3px;
}


