html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.shoppingCart {
    border: 3px solid black;
    position: fixed;
    top: 120px; /* Justera detta värde beroende på höjden på navigeringsfältet */
    right: -0px; /* Justera detta värde för att placera längst åt höger */
    transform: translate(-50%, -50%);
    z-index: 9999;
    overflow-y: auto;
    color: black;
    text-align: center;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    opacity: 0.9;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer; /* Visar att elementet är klickbart */
}
.shoppingCartIcon {
    transform: scale(2);
    margin-left: 20px;  
}




