@model PandaStore.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Lägg till</h1>

<h4>Produkt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FK_CategoryID" class="control-label">Kategori</label>
                <select asp-for="FK_CategoryID" class ="form-control" asp-items="ViewBag.FK_CategoryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductTitel" class="control-label">Produktnamn</label>
                <input asp-for="ProductTitel" class="form-control" />
                <span asp-validation-for="ProductTitel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Beskrivning</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specification" class="control-label">Specifikation</label>
                <input asp-for="Specification" class="form-control" />
                <span asp-validation-for="Specification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Pris</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryQuantity" class="control-label">Lagerstatus</label>
                <input asp-for="InventoryQuantity" class="form-control" />
                <span asp-validation-for="InventoryQuantity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProductIsActive" /> @Html.DisplayNameFor(model => model.ProductIsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NextDelivery" class="control-label">Nästa leverans</label>
                <input asp-for="NextDelivery" class="form-control" />
                <span asp-validation-for="NextDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label">Produktbild</label>
                <input asp-for="ImgUrl" type="file" class="form-control-file" />
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lägg till" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Gå tillbaka</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
