@model List<CustomerProduct>


<script>
    function toggleMinimize() {
        var cart = document.querySelector('.shoppingCart');
        var cartTitle = cart.querySelector('h3');
        var isMinimized = cart.classList.contains('minimized');
        
        if (isMinimized) {
            cart.classList.remove('minimized');
            cartTitle.textContent = "Kundvagn";
        } else {
            cart.classList.add('minimized');
            cartTitle.textContent = "Kundvagnen";
        }
    }
</script>

@if (Model != null && Model.Count > 0)
{
    <div class="shoppingCart" onclick="toggleMinimize()">
        <h3>Kundvagn</h3>
        <hr>
        <table class="shoppingCartTextColor">
            <thead>
                <tr>
                    <th>Product id</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price</td>
                        <td>@(item.Quantity * item.Price)</td>
                    </tr>
                }
            </tbody>
        </table>
       <a class="" href="/">Gå till kassan</a>
    </div>
}
else
{
    <div class="shoppingCart" onclick="toggleMinimize()">
        <h6 class="shoppingCartEmpty">Kundvagnen är tom</h6>
    </div>
}