@model IEnumerable<PandaStore.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<div>
    <div class="container" style="height:fit-content; padding:0px;">
        <div class="row" style="height:500px; margin:0px;">
            <div class="col" style="background-color:brown; width:55%; padding:0px;">
                <!-- bild på produkten ska centreras -->
                <div id="topImageContainer" style="width:90%; margin:auto;;">
                    <img id="topImage" src="./images/black-t-shirts-with-copy-space-removebg-preview.png" style="width:100%;" alt="Top Image" />
                </div>

            </div>
            <div class="col" style="background-color:aqua;  padding:0px;">
                <!-- Lägg till produkten i varukorgen -->
                <div class="verticalalign">
                    <div class="centerbasket">
                        <div class="addbox">
                            <div class="number-container">
                                <button class="minus-button">-</button>
                                <span class="number">0</span>
                                <button class="plus-button">+</button>
                            </div>
                        </div>
                        <div>
                            <button class="addbasket">Lägg i varukorg</button>
                        </div>
                        <div>
                            <p>Lager status</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container" style="padding:0px;">
            <div class="descborder"> <h5>Översikt</h5> </div>
            <div class="desc">
                <!-- Beskrivning fixa height? -->
                <div style="padding:10px;">
                    
                    <p>Beskrivning</p>
                </div>

            </div>
            <div class="descborder"> </div>
        </div>
        <div class="container" style="padding:0px;">
        </div>
    </div>
</div>


<style>
    .addbasket {
        height: 50px;
        width: 150px;
        background-color: #e8ded1;
        border:solid;
        border-color: #CCC3B8;
        border-top:none;
    }
    .addbasket:hover{
            background-color: #D1B8AE;
    }

    .centerbasket {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .verticalalign {
        padding-top: 100px;
    }

    .addbox {
    }

    .number-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #e8ded1;
        padding: 10px 30px;
        max-width: 150px;
        border: solid;
        border-color: #CCC3B8;
        border-bottom:none;
    }

    .minus-button,
    .plus-button {
        width: 30px;
        height: 30px;
        background-color: #BDA8A0;
        border: none;
        border-radius:30%;
        cursor: pointer;
    }

    .number {
        margin: 0 10px;
    }

    .desc {
        /*background-color: yellow;*/
        height: 300px;
        max-width: auto;
        max-height: auto;
        border-left:solid thick;
        border-right:solid thick;
        border-color: #e8ded1;

    }
    .descborder{
        height:25px;
        padding-left:10px;
        background-color: #e8ded1;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const numberElement = document.querySelector('.number');
        const minusButton = document.querySelector('.minus-button');
        const plusButton = document.querySelector('.plus-button');

        let number = 0;

        minusButton.addEventListener('click', function () {
            if (number > 0) {
                number--;
                numberElement.textContent = number;
            }

        });

        plusButton.addEventListener('click', function () {
            number++;
            numberElement.textContent = number;
        });
    });
</script>